
.fundo {
    height: 100%;
    width: 100%;
    background-color: #f4f4f4; 
    padding: 60px;
}

.FundoCalculadora {
    height: 670px;
    width: 490px;
    text-align: center;
    background-color: #ffffff; 
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.painel {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #333333; 
    border-radius: 4px;
    border: 2px solid #e0e0e0; 
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.NumeroPainel {
    font-size: 100px;
    white-space: nowrap;
    overflow-x: auto; 
    max-width: 100%; 
    text-align: right; 
    display: block;
}

button {
    background-color: #007bff; 
    color: white;
    width: 106px;
    height: 80px;
    font-size: 32px;
    border-radius: 8px; 
    margin: 6px;
    cursor: pointer;
    border: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

button:hover {
    background-color: #0056b3; 
}

.CE {
    color: #ffb300; 
}

.operadores {
    background-color: #6c757d; 
}

.titulo{
    color: red;
    background-color: aqua;    
}


.easteregg {
    display: none; 
    color: goldenrod;
    font-size: 20px;
    margin-top: 20px;
}

.NumeroPainel::-webkit-scrollbar {
    width: 10px; 
}

.NumeroPainel::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 10px; 
}

.NumeroPainel::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}


.NumeroPainel {
    scrollbar-width: thin; 
    scrollbar-color: black #f1f1f1; 
}

.titulo {
    font-size: 42px;
    font-weight: bold;
    color: #333333; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    background-color: #f0f0f0; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin-bottom: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; 
}

.fundo {
    height: auto;
    width: auto;
    padding: 60px;
}
/*boxshadow estudar com a chris
*/
